---
Checks: >
    *,
    -cert-dcl03-c,
    -abseil-*,
    -android-*,
    -altera-*,
    -llvmlibc-*,
    -cert-err34-c,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-vararg,
    -clang-diagnostic-error,
    -fuchsia-*,
    -google-readability-todo,
    -hicpp-vararg,
    -hicpp-no-array-decay,
    -*static-assert*,
    -readability-identifier-length,
    -readability-function-cognitive-complexity,
    -readability-magic-numbers,
WarningsAsErrors: ''
FormatStyle: file
ExtraArgs: [-std=c++20]
CheckOptions:
    - key: modernize-deprecated-headers.CheckHeaderFile
      value: enabled
    - key: cppcoreguidelines-init-variables.IncludeStyle
      value: google
    - key: cppcoreguidelines-init-variables.MathHeader
      value: <cmath>
