CompileFlags:
    # to make the compilation database, pip install compiledb, then run:
    # make clean && compiledb -n --full-path make TESTMODE=ON
    CompilationDatabase: compile_commands.json
    Add: [-xc++, -std=c++26, -DTESTMODE=true, -Wall, -Wextra, -Wpedantic, -Wredundant-decls, -Wno-unneeded-internal-declaration, -Wno-unused-parameter, -Wno-unused-const-variable, -Wsign-compare, -Wshadow, -isystem, third_party/]

Diagnostics:
    ClangTidy:
        FastCheckFilter: None
    UnusedIncludes: Strict
    MissingIncludes: Strict
    Includes:
        AnalyzeAngledIncludes: true
        IgnoreHeader: "(sys/_types/_pid_t.h|signal.h)"

Completion:
    AllScopes: true

InlayHints:
    BlockEnd: true
    Designators: true
    Enabled: true
    ParameterNames: true
    DeducedTypes: false

Hover:
  ShowAKA: Yes
