---
InheritParentConfig: true
Checks: [
        '*',
        -abseil-*,
        -android-*,
        -altera-*,
        -bugprone-casting-through-void,
        -bugprone-easily-swappable-parameters,
        -bugprone-exception-escape,
        -bugprone-implicit-widening-of-multiplication-result,
        -boost-use-ranges,
        -cert-dcl03-c,
        -cert-dcl50-cpp,
        -cert-err33-c,
        -cert-err34-c,
        -cert-err58-cpp,
        -clang-analyzer-deadcode.DeadStores,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-narrowing-conversions,  # alias for bugprone-narrowing-conversions
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-type-cstyle-cast,
        -cppcoreguidelines-pro-type-vararg,
        -fuchsia-*,
        -google-objc*,
        -google-readability-todo,
        -hicpp-avoid-c-arrays,
        -hicpp-vararg,
        -hicpp-no-array-decay,
        -llvmlibc-*,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -modernize-avoid-c-arrays,
        -modernize-use-ranges, # things like sort and for_each don't support parallel execution policies yet (C++26 will?)
        -modernize-use-std-print, # replace printout macro with a function when we want to autofix to use std::format gcc >=13
        -performance-enum-size,
        -readability-identifier-length,
        -readability-function-cognitive-complexity,
        -readability-magic-numbers,
    ]
WarningsAsErrors: '*,-clang-diagnostic-unused-function'
FormatStyle: file
ExtraArgs: [-std=c++23]
CheckOptions:
    - key: bugprone-reserved-identifier.AllowedIdentifiers
      value: '__host__;__device__'
    - key: bugprone-narrowing-conversions.IgnoreConversionFromTypes
      value: size_t; size_type
    - key: bugprone-narrowing-conversions.WarnOnEquivalentBitWidth
      value: 'false'
    - key: bugprone-narrowing-conversions.WarnOnFloatingPointNarrowingConversion
      value: 'true'
    - key: bugprone-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion
      value: 'false'
    - key: cppcoreguidelines-init-variables.IncludeStyle
      value: google
    - key: cppcoreguidelines-init-variables.MathHeader
      value: <cmath>
    - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
      value: 'true'
    - key: modernize-deprecated-headers.CheckHeaderFile
      value: 'true'
    - key: modernize-use-std-print.PrintfLikeFunctions
      value: printf; absl::PrintF; printout
    - key: modernize-use-std-print.FprintfLikeFunctions
      value: fprintf; absl::FPrintF
    - key: readability-identifier-naming.NamespaceCase
      value: lower_case
