CompileFlags:
    # to make the compilation database, pip install compiledb, then run:
    # compiledb -n --full-path make TESTMODE=ON
    CompilationDatabase: compile_commands.json
    Add: [-DMPI_ON=true, -std=c++20, -DTESTMODE=true]
