CompileFlags:
    # to make the compilation database, pip install compiledb, then run:
    # make clean && compiledb -n --full-path make TESTMODE=ON
    # or brew install bear, then:
    # make clean && bear -- make TESTMODE=ON
    CompilationDatabase: compile_commands.json
    Add: [-xc++, -std=c++23, -DTESTMODE=true, -Winline, -Wall, -Wextra, -pedantic, -Wpedantic, -Wredundant-decls, -Wno-unused-parameter, -Wno-unused-function, -Wno-inline, -Wsign-compare, -Wshadow]

Diagnostics:
    ClangTidy:
        FastCheckFilter: None
    UnusedIncludes: Strict
    MissingIncludes: Strict
    Includes:
        # std::ranges::upper_bound is triggering warning to include a private libc++ header __algorithm/ranges_upper_bound.h
        # IgnoreHeader: '.*(ranges).*'
        IgnoreHeader: 'signal.h|(_).*(.h)|.*(__algorithm).*'
        AnalyzeAngledIncludes: true

Completion:
    AllScopes: true
    #ArgumentListsPolicy: None  # added to LLVM 20?

InlayHints:
    BlockEnd: true
    Designators: true
    Enabled: true
    ParameterNames: true
    DeducedTypes: false

Hover:
  ShowAKA: Yes
