# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# these files require LF (Unix-style) line-endings
*.cc text eol=lf linguist-language=C++
*.h text eol=lf linguist-language=C++
*.sh text eol=lf
*.txt text eol=lf
* text eol=lf
Makefile text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gz binary
*.xz binary
*.zst binary
*.zstd binary
