---
fail_fast: false
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-added-large-files
            args: [--maxkb=500]
          - id: check-ast
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-toml
          - id: check-yaml
          - id: detect-private-key
          - id: destroyed-symlinks
          - id: fix-byte-order-marker
          - id: forbid-new-submodules
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: name-tests-test
          - id: requirements-txt-fixer
          - id: trailing-whitespace
    - repo: https://github.com/pocc/pre-commit-hooks
      rev: v1.3.5
      hooks:
          - id: clang-format
    # - id: clang-tidy
    # - id: oclint
    # - id: uncrustify
    # - id: cppcheck
    #   args:
    #     [
    #       "--force",
    #       "--language=c++",
    #       "--std=c++17",
    #       "--suppress=missingIncludeSystem",
    #     ]
    # - id: cpplint
    #   args:
    #     [
    #       "--linelength=120",
    #       "--filter=-legal/copyright,-readability/casting,-whitespace/braces,-readability/todo",
    #     ]
    # - id: include-what-you-use
    #   args: ["-Xiwyu", "--cxx17ns", "-Xiwyu", "--max_line_length=120", "-Xiwyu", "--update_comments"]

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.2 # or other specific tag
      hooks:
          - id: yamlfmt
