!**/artisoptions.h
output_*.txt
*.out
adata.txt
bflist.dat
compositiondata.txt
*.tmp
ratecoeff.dat
phixsdata_v2.txt
transitiondata.txt
*.tar.*
atomic_data_logs
input.txt
auger*.txt
*_lines.txt
collion*.txt
exspec.txt
binding_energies.txt
nebularonezone_reference
nebularonezone_testrun
*.pdf