name: Continuous integration

on:
  push:
    branches:
    - nebular
  pull_request:
    branches:
    - nebular

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4

    - name: "install dependencies"
      run: |
        # sudo apt-get update
        sudo apt-get install libgsl-dev
        # sudo apt-get install clang
        cp artisoptions_example.h artisoptions.h

    - name: "diagnostic info"
      run: |
        git status
        which g++
        g++ --version
        which clang++
        clang++ --version
        export CXX=clang++

    - name: "compile with gcc"
      run: make CXX=g++ sn3d exspec

    - name: "compile with clang"
      run: make CXX=clang++ sn3d exspec

    # - name: "compile sn3d with OpenMP"
    #   run: make sn3dopenmp

    # - name: "compile sn3d with MPI"
    #   run: |
    #     sudo apt-get install libopenmpi-dev
    #     make sn3dmpi

    # we can cache this, but then we don't test the code that generates ratecoeff.dat
    # - name: Cache ratecoeff.dat
    #   uses: actions/cache@v2.1.4
    #   with:
    #     path: "tests/nebularonezone/ratecoeff.dat"
    #     key: "tests/nebularonezone/ratecoeff.dat"

    - name: Cache atomic data
      uses: actions/cache@v2.1.4
      id: cache-atomicdata
      with:
          path: "tests/atomicdata_feconi.tar.xz"
          key: "https://psweb.mp.qub.ac.uk/artis/artis/atomicdata_feconi.tar.xz"

    - name: Download atomic data
      if: steps.cache-atomicdata.outputs.cache-hit != 'true'
      working-directory: tests/
      run: |
          curl -O https://psweb.mp.qub.ac.uk/artis/artis/atomicdata_feconi.tar.xz

    - name: "Setup test nebularonezone"
      run: |
        cp tests/nebularonezone/artisoptions.h .
        make TESTMODE=ON CXX=g++ sn3d exspec
        cp sn3d tests/nebularonezone/
        cp exspec tests/nebularonezone/
        cp data/*.txt tests/nebularonezone/

        # gunzip -v tests/nebularonezone/*.gz
        tar -xvf tests/atomicdata_feconi.tar.xz --directory tests/nebularonezone/

    - name: "Run nebularonezone test"
      working-directory: tests/nebularonezone/
      run: |
        cp input-newrun.txt input.txt
        touch output_0-0.txt
        time ./sn3d

    - name: "cat estimators"
      working-directory: tests/nebularonezone/
      run: |
        cat estimators*.out

    - name: "cat output log"
      working-directory: tests/nebularonezone/
      run: |
        cat output_*.txt

    - name: "Run exspec"
      working-directory: tests/nebularonezone/
      run: |
        time ./exspec
        mkdir output
        cp output_0-0.txt exspec.txt *.out output/

    - name: "cat exspec log"
      working-directory: tests/nebularonezone/output/
      run: |
        cat exspec.txt

    - name: Upload output files
      uses: actions/upload-artifact@v2
      with:
        name: test-nebularonezone-output
        path: tests/nebularonezone/output

    - name: Checksum output files
      working-directory: tests/nebularonezone/output
      run: |
        md5sum *.out
        md5sum -c <(echo e4963320fa6da60fc14aba0d6aa7c52d estimators_0000.out)
        md5sum -c <(echo 43dc783d438b33bcd350cfb5967364a8 light_curve.out)
        md5sum -c <(echo f8a7677f193e17341a62a08697f70711 spec.out)
        md5sum -c <(echo 8e7163982f1aa938dc1505478b8c60d1 timesteps.out)
        md5sum -c <(echo 73da2aa7a706efdb62b5f1dc610bbf14 deposition.out)

  plotoutput:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Get pip cache dir
      id: pip-cache
      run: |
        pip list --format=freeze > piplist.txt
        echo "::set-output name=dir::$(pip cache dir)"

    - name: Cache pip
      uses: actions/cache@v2.1.4
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('piplist.txt') }}
        restore-keys: |
         ${{ runner.os }}-pip-

    - name: Clone artistools
      run: |
        git clone https://github.com/artis-mcrt/artistools.git

    - name: Install dependencies
      working-directory: artistools/
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -r requirements.txt

        # upgrade all installed packages to their latest versions
        python3 -m pip list --format=freeze --outdated | cut -d '=' -f1 | xargs -n1 python3 -m pip install --upgrade

    - name: Install artistools
      working-directory: artistools/
      run: |
        python -m pip install -e .

    - name: Plot output
      working-directory: tests/nebularonezone/output
      run: |
        plotartislightcurve

    - name: Upload plot files files
      uses: actions/upload-artifact@v2
      with:
        name: test-nebularonezone-output-pdf
        path: tests/nebularonezone/output/*.pdf
