name: Continuous integration

on:
  push:
    branches:
    - nebular*
    - mpi*
    - main
  # pull_request:
  #   branches:
  #   - nebular*
  #   - main

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4

    - name: "install dependencies"
      run: |
        git status
        # sudo apt-get update
        sudo apt-get install libgsl-dev
        # sudo apt-get install clang
        cp artisoptions_nltenebular.h artisoptions.h
        python3 -c 'import multiprocessing; print(multiprocessing.cpu_count())'

    - name: "CPU count"
      id: cpu-count
      run: echo "::set-output name=count::$(python3 -c 'import multiprocessing; print(multiprocessing.cpu_count())')"

    - name: "echo CPU count"
      run: |
        echo CPU Count: ${{ steps.cpu-count.outputs.count }}

    - name: "CPU count"
      id: cpu-count
      run: echo "::set-output name=count::$(python3 -c 'import multiprocessing; print(multiprocessing.cpu_count())')"

    - name: "echo CPU count"
      run: |
        echo CPU Count: ${{ steps.cpu-count.outputs.count }}

    # - name: "compile with gcc"
    #   run: |
    #     which g++
    #     g++ --version
    #     make CXX=g++ clean sn3d exspec

    - name: "compile with clang"
      run: |
        which clang++
        clang++ --version
        export CXX=clang++
        make clean
        make CXX=clang++ -j${{ steps.cpu-count.outputs.count }} sn3d exspec

    - name: "compile with GCC+OpenMPI"
      run: |
        sudo apt install -y openmpi-bin libopenmpi-dev
        mpicxx --version
        make clean
        make -j${{ steps.cpu-count.outputs.count }} sn3d exspec
    # sudo apt remove openmpi-bin libopenmpi-dev

    - name: "run cppcheck"
      run: |
        sudo apt-get -y install cppcheck
        cppcheck --force --language=c++ --std=c++17 .

    # - name: "compile sn3d with OpenMP"
    #   run: make OPENMP=ON sn3d

    # - name: "compile sn3d with MPI"
    #   run: |
    #     sudo apt-get install libopenmpi-dev
    #     make MPI=ON sn3dmpi

    # we can cache this, but then we don't test the code that generates ratecoeff.dat
    # - name: Cache ratecoeff.dat
    #   uses: actions/cache@v2.1.4
    #   with:
    #     path: "tests/nebularonezone/ratecoeff.dat"
    #     key: "tests/nebularonezone/ratecoeff.dat"

    - name: Cache test atomic data
      uses: actions/cache@v2.1.4
      id: cache-testatomicdata
      with:
          path: "tests/atomicdata_feconi.tar.xz"
          key: tests/atomicdata_feconi.tar.xz

    - name: Cache reference data
      uses: actions/cache@v2.1.4
      id: cache-testreferencedata
      with:
          path: "tests/nebularonezone_reference_20210324.tar.xz"
          key: tests/nebularonezone_reference_20210324.tar.xz

    - name: Download/extract test data
      # if: steps.cache-atomicdata.outputs.cache-hit != 'true'
      working-directory: tests/
      run: |
          source ./setuptestdata.sh

    - name: "Setup test nebularonezone"
      run: |
        cp tests/nebularonezone/artisoptions.h .
        make clean
        make TESTMODE=ON MPI=ON -j${{ steps.cpu-count.outputs.count }} sn3d exspec
        cp sn3d tests/nebularonezone/
        cp exspec tests/nebularonezone/
        cp data/*.txt tests/nebularonezone/

    - name: "Run nebularonezone test"
      working-directory: tests/nebularonezone/
      run: |
        cp input-newrun.txt input.txt
        touch output_0-0.txt
        time mpirun -np 2 ./sn3d

    - name: "cat estimators"
      working-directory: tests/nebularonezone/
      run: |
        cat estimators*.out

    - name: "cat output log"
      if: always()
      working-directory: tests/nebularonezone/
      run: |
        cat output_0-0.txt

    - name: "Run exspec"
      working-directory: tests/nebularonezone/
      run: |
        cp input.txt ../nebularonezone_reference/
        time ./exspec
        mkdir output
        cp output_0-0.txt exspec.txt *.out output/

    - name: "cat exspec log"
      working-directory: tests/nebularonezone/output/
      run: |
        cat exspec.txt

    - name: Upload output files
      uses: actions/upload-artifact@v2
      with:
        name: test-nebularonezone-output
        path: tests/nebularonezone/output

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Get pip cache dir
      id: pip-cache
      run: |
        pip list --format=freeze > piplist.txt
        echo "::set-output name=dir::$(pip cache dir)"

    - name: Cache pip
      uses: actions/cache@v2.1.4
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('piplist.txt') }}
        restore-keys: |
         ${{ runner.os }}-pip-

    - name: Install artistools
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install artistools

        # upgrade all installed packages to their latest versions
        python3 -m pip list --format=freeze --outdated | cut -d '=' -f1 | xargs -n1 python3 -m pip install --upgrade

    - name: Plot output
      working-directory: tests/
      run: |
        python3 -m artistools.lightcurve nebularonezone nebularonezone_reference
        python3 -m artistools.spectra -ts 9 nebularonezone nebularonezone_reference

    - name: Upload plot files
      uses: actions/upload-artifact@v2
      with:
        name: test-nebularonezone-output-pdf
        path: tests/*.pdf

    - name: Checksum output files
      working-directory: tests/nebularonezone
      run: |
        md5sum *.out
        md5sum -c results_md5.txt
